@model IEnumerable<HospitalManagementUI.Models.DTOs.Appointment>

@{
    ViewData["Title"] = "AppointmentList";
}

<h2>Appointment List</h2>
@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
<div>
    <a asp-action="Index" class="btn btn-primary" style="margin-bottom:10px;">Back to Dashboard</a>
</div>

<table class="table">
    <thead>
        <tr style="background-color: #0074ab; color:white;">
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalHistory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color: #e6f7ff;">
                <td>
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfAppointment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalHistory)
                </td>
                <td>
                    <a asp-action="AppointmentEdit" asp-route-id="@item.AppointmentId" class="btn btn-warning btn-sm">Update Status</a>
                    @if (item.Status == "Confirm")
                    {
                        <a asp-action="AppointmentList" asp-route-id="@item.AppointmentId" class="btn btn-primary btn-sm">Add Prescription</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
